# Import libraries

In [3]:
# Library for data manipulation
import pandas as pd

# os library is used here for file path locatain
import os

# numpy is used for numerical operation
import numpy as np

from nltk import word_tokenize, pos_tag
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import stopwords

from collections import OrderedDict

import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\c2034122\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\c2034122\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\c2034122\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

# Preparing dataset

In [4]:
# In this piece of code, we extract the data from text file and put it in columns

# "bbc" is the folder of the dataset
directory = 'bbc'

# we created a dataframe with two columns "news" that is text related to business, tech etc and a category for text
data_frame = pd.DataFrame(columns=['news', 'category'])

id_count = 0

# In the below code the for loop will go through the text files and get the text from each file and put it in dataframe column.
# the folders name is tech, business etc. and it is pushed to "news" columns
for subdir, dirs, files in os.walk(directory):
    for file in files:
        if not file.startswith("READ"):
            category = subdir.replace('bbc\\','')
            
            with open(os.path.join(subdir, file)) as f:
                data = " ".join(line.rstrip() for line in f)
                data_frame = data_frame.append(pd.DataFrame([[data, category]], columns=['news', 'category']), ignore_index = True)
                f.close()

In [5]:
#data_frame.to_csv('Prepared_data.csv')

In [6]:
## only to upload csv file to colab
#from google.colab import files
#uploaded = files.upload()

In [7]:
data_frame = pd.read_csv('Prepared_data.csv')

# Data preprocessing

In [8]:
# Associate Category names with numerical index and save it in new column category_id
data_frame['category_id'] = data_frame['category'].factorize()[0]

# map the categories_name to number
category_id_df = data_frame[['category', 'category_id']].drop_duplicates().sort_values('category_id')

In [9]:
,  insert ID column
data_frame['ID'] = range(0, len(data_frame))

# set ID as an index
data_frame = data_frame.set_index('ID')

# Dropping the category column. here we can also use the drop function
data_frame = data_frame[['news', 'category_id']]
data_frame.head()

                                                 news  category_id
ID
0   Ad sales boost Time Warner profit  Quarterly p...            0
1   Dollar gains on Greenspan speech  The dollar h...            0
2   Yukos unit buyer faces loan claim  The owners ...            0
3   High fuel prices hit BA's profits  British Air...            0
4   Pernod takeover talk lifts Domecq  Shares in U...            0

In [10]:
# shuffle the dataframe for machine learning model
from sklearn.utils import shuffle
data_frame = shuffle(data_frame)

In [11]:
data_frame.head()

                                                   news  category_id
ID
960   Guantanamo pair's passport ban  The government...            2
112   Brussels raps mobile call charges  The Europea...            0
462   US economy still growing says Fed  Most areas ...            0
1243  TV debate urged for party chiefs  Broadcasters...            2
987   New 'yob' targets to be unveiled  Fifty new ar...            2

In [12]:
# here we will remove the garbage data that will not be helpful to our model
def data_preprocessing(news):
    # Replace new line with null if any exist also remove the carriage return
    news = news.lower().replace('\n', ' ').replace('\r', '').strip()
    # to remove multiple spaces we will be using a regex expression. it will replace
    # multiple spaces with single space
    news = re.sub(' +', ' ', news)
    # to get alphabets
    news = re.sub(r'[^\w\s]', '', news)
    
    # we will be removing stopwords like and, or etc.
    stop_words = set(stopwords.words('english'))
    # list of words include in news article
    word_tokens = word_tokenize(news)
    # this will remove all unnecessary words specified in nltk stopwords file
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    
    news = ' '.join(filtered_sentence)
    return news

data_frame['news'] = data_frame['news'].apply(data_preprocessing)

# Feature engineering

In [13]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

data_frame['news_noun_adj'] = data_frame.news.apply(nouns_adj)

In [14]:
data_frame['news'] = data_frame['news'] + data_frame['news_noun_adj']

In [15]:
# Removing duplicate word from a string.
data_frame['news'] = data_frame.news.str.split().apply(lambda x: OrderedDict.fromkeys(x).keys()).str.join(' ')

In [16]:
# dictionary for category and their ID.
# we need it later
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'category']].values)

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2), stop_words='english')

features = tfidf.fit_transform(data_frame.news).toarray() 

labels = data_frame.category_id

In [18]:
features.shape

(2225, 11719)

In [19]:
data_frame.head()

,news,category_id,news_noun_adj
ID,,,
960,guantanamo pairs passport ban government writt...,2,guantanamo pairs passport ban government briti...
112,brussels raps mobile call charges european com...,0,brussels call charges european commission mobi...
462,us economy still growing says fed areas saw co...,0,economy areas economy continue early january f...
1243,tv debate urged party chiefs broadcasters fix ...,2,tv debate party chiefs broadcasters date preel...
987,new yob targets unveiled fifty areas getting s...,2,new yob targets fifty new areas special help a...

# Feature selection

In [20]:
# Importing chi-square for feature selection
from sklearn.feature_selection import chi2

# number of words in a perticular set
Num_of_words = 10

# Find correlation between words and categories
for Category, category_id in sorted(category_to_id.items()):
    # apply chi-square to all features in categories.
    features_chi2 = chi2(features, labels == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    
    # list of top unigrams with chi-square.
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    
    # list of top bigrams with chi-square.
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    
    # display the category
    print("'{}':".format(Category))
    
    # display top 10 unigrams
    print("  . unigrams: {}".format(', '.join(unigrams[-Num_of_words:])))
    
    # display top 10 bigrams
    print("  . bigrams: {}".format(', '.join(bigrams[-Num_of_words:])))

'business':
  . unigrams: economic, prices, investors, stock, economy, analysts, oil, bank, growth, shares
  . bigrams: analysts said, stock exchange, securities exchange, exchange commission, told reuters, economic growth, news agency, chief executive, oil prices, stock market
'entertainment':
  . unigrams: stars, starring, album, award, comedy, awards, actress, singer, actor, film
  . bigrams: golden globe, leonardo dicaprio, film festival, named best, imelda staunton, vera drake, dollar baby, million dollar, box office, los angeles
'politics':
  . unigrams: leader, tony, liberal, secretary, party, blair, tories, tory, election, labour
  . bigrams: tory leader, radio 4s, liberal democrat, leader michael, lib dems, prime minister, liberal democrats, michael howard, general election, tony blair
'sport':
  . unigrams: rugby, victory, champion, win, game, season, injury, match, cup, coach
  . bigrams: coach andy, sir alex, manchester united, rbs nations, australian open, world cup, world number, champions league, bbc sport, grand slam
'tech':
  . unigrams: devices, microsoft, web, pc, online, digital, computer, software, technology, users
  . bigrams: playstation portable, hugely popular, media player, open source, sony psp, hard drive, mobile phones, bbc news, consumer electronics, news website

# Machine learning modeling

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

# we are using Decision tree classifier
model_dec_tree = DecisionTreeClassifier(random_state=1)
model_log_reg = LogisticRegression(random_state=1)
model_naive = GaussianNB()
model_svc = SVC(random_state=1)

#Split Data 
X_train, X_test, y_train, y_test, indices_train, indices_test = train_test_split(features, labels, data_frame.index, test_size=0.20, random_state=2)

#Train model
model_dec_tree.fit(X_train, y_train)
model_log_reg.fit(X_train, y_train)
model_naive.fit(X_train, y_train)
model_svc.fit(X_train, y_train)

# Make Predictions
y_pred_dec_tree = model_dec_tree.predict(X_test)
y_pred_log_reg = model_log_reg.predict(X_test)
y_pred_naive = model_naive.predict(X_test)
y_pred_svc = model_svc.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score, classification_report

print("Accuracy of Decision tree: ", accuracy_score(y_test, y_pred_dec_tree))
print("Accuracy of Logistic regression: ", accuracy_score(y_test, y_pred_log_reg))
print("Accuracy of Naive bayes: ", accuracy_score(y_test, y_pred_naive))
print("Accuracy of SVC: ", accuracy_score(y_test, y_pred_svc))

Accuracy of Decision tree:  0.8134831460674158
Accuracy of Logistic regression:  0.9752808988764045
Accuracy of Naive bayes:  0.952808988764045
Accuracy of SVC:  0.9730337078651685

In [23]:
print('Classification report for Decision Tree')
print(classification_report(y_test, y_pred_dec_tree))
print('Classification report for Logistic regression')
print(classification_report(y_test, y_pred_log_reg))
print('Classification report for Naive bayes')
print(classification_report(y_test, y_pred_naive))
print('Classification report for SVC')
print(classification_report(y_test, y_pred_svc))

Classification report for Decision Tree
              precision    recall  f1-score   support

           0       0.70      0.84      0.76        97
           1       0.84      0.69      0.75        83
           2       0.85      0.82      0.83        89
           3       0.92      0.87      0.89       105
           4       0.78      0.85      0.81        71

    accuracy                           0.81       445
   macro avg       0.82      0.81      0.81       445
weighted avg       0.82      0.81      0.81       445

Classification report for Logistic regression
              precision    recall  f1-score   support

           0       0.93      0.99      0.96        97
           1       0.99      0.96      0.98        83
           2       0.99      0.97      0.98        89
           3       0.99      0.99      0.99       105
           4       0.99      0.96      0.97        71

    accuracy                           0.98       445
   macro avg       0.98      0.97      0.97       445
weighted avg       0.98      0.98      0.98       445

Classification report for Naive bayes
              precision    recall  f1-score   support

           0       0.98      0.93      0.95        97
           1       0.99      0.87      0.92        83
           2       0.94      0.99      0.96        89
           3       1.00      0.99      1.00       105
           4       0.85      0.99      0.92        71

    accuracy                           0.95       445
   macro avg       0.95      0.95      0.95       445
weighted avg       0.96      0.95      0.95       445

Classification report for SVC
              precision    recall  f1-score   support

           0       0.93      0.98      0.95        97
           1       0.99      0.96      0.98        83
           2       0.98      0.97      0.97        89
           3       0.99      0.99      0.99       105
           4       0.99      0.96      0.97        71

    accuracy                           0.97       445
   macro avg       0.97      0.97      0.97       445
weighted avg       0.97      0.97      0.97       445

In [24]:
# Decision tree: testing the model on user input data
text_features = tfidf.transform([input('Input news:')])
prediction = model_dec_tree.predict(text_features)

print("Decision tree Predicted as: ", id_to_category[prediction[0]])

Input news:saudi arabia is rich country
Decision tree Predicted as:  business

In [25]:
# Logistic regression: testing the model on user input data
text_features = tfidf.transform([input('Input news:')])
prediction = model_log_reg.predict(text_features)

print("Logistic regression Predicted as: ", id_to_category[prediction[0]])

Input news:manchester city win the champion
Logistic regression Predicted as:  sport